<h1>Frequently Asked Questions</h1>
<p>Questions from the Martian regolith enthusiast community.</p>
<ul>
  <li><p><b>Why do you measure the weight in Earth lbs?</b></br>
      <small>To clearly define what you are to receive.  Although weight and mass are used interchangeably on Earth, they do not mean the same thing.  100lbs on Earth is the equivalent of 37.7lbs on Mars.</small></p>
  </li>
  <li><p><b>When can I expect to receive my delivery?</b></br>
      <small>Unfortunately, not anytime soon.  The Mars Sample Return mission is not expected to launch for at least 5-10 years.</small></p>
  </li>
  <li><p><b>Can I pickup my rocks?</b></br>
      <small>Sure, have at it. You can pickup your rocks <a href="http://www.google.com/mars/#lat=-1.713611&lon=-6.196289&zoom=8&q=spacecraft">here.</a></small></p>
  </li>
  <li><p><b>Will my credit card be charged?</b></br>
      <small>No.  In all seriousness you will not be charged in this app.</small></p>
  </li>
<ul>