<%- model_class = User.new.class -%>
<h1>Congratulations!</h1>
</br>
<p>You are eligible to purchase rocks from Mars!  </p>
</br>
<a class="btn btn-inverse" <%= link_to "Purchase", new_purchase_path %></a>
